.itemTitle {
    font-size: 30px;
    font-family: 'Custom-font', playfair;
}

.itemLoc {
    font-size: 20px;
    font-family: 'Custom-font', playfair-regular;
}

.itemStatus {
    margin-top: 10px;
    font-family: 'Custom-font', nunito;
    font-weight: bold;
    color: var(--avaiable);
}

.itemPay, .itemDesc {
    font-family: 'Custom-font', nunito;
}

.itemPay {
    color: var(--noPay);
}

.itemDesc {
    color: #393939;
}

.itemPrice {
    font-size: 40px;
    font-family: 'Custom-font', playfair;
    padding-right: 20px;
}

.count {
    color: black;
    font-family: 'Custom-font', nunito2;
    font-size: 30px;
}

.primaryImg{
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.subimg{
    height: 220px;
    /* border: 1px solid var(--custom-grey); */
    margin-top: 15px;
    padding: 5px;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .subimg{
        height: 130px;
    }
}

@media (min-width: 992px) {
    .rightItem {
        width: 43%;
    }
    .primaryImg{
        height: 400px;
    }
    .subimg{
        height: 220px;
    }
}