.cover {
  background-image: url('../assets/img/Home/home1.png');
  background-size: cover;
  width: 100%;
  height: 450px;
  padding-top: 0px;
}

.explore {
  width: 100%;
  height: 100%;
}

.title {
  color: white;
  font-size: 40px;
  display: block;
  margin-bottom: 25px;
  font-family: 'Custom-font', playfair;
}

.spanFinder {
  color: white;
  font-size: 20px;
  font-family: 'Custom-font', nunito2;
}

.hrWrap {
  width: 40px;
  border: 3px solid white;
  border-radius: 20px;
}

.testimonial {
  color: black;
  font-size: 25px;
  font-family: 'Custom-font', playfair;
}

.leftTesti {
  padding-right: 20px;
  text-align: justify;
  font-family: 'Custom-font', mulish;
}

.imgTesti {
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .cover {
    height: 500px;
  }
  .explore {
    width: 70%;
  }
  .leftTesti {
    padding-right: 120px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .explore {
    width: 45%;
  }
  .cover {
    height: 780px;
    padding-top: 65px;
  }
  .title {
    font-size: 100px;
  }
  .leftTesti {
    padding-right: 200px;
    padding-top: 120px;
  }
  .testimonial {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}