.content {
    font-family: 'Custom-font', nunito;
}

.wrapper {
    width: 100%;
    background-color: white;
}

.navigation {
    color: var(--custom-grey);
}

.navigation:hover {
    color: black;
}

.btnOutline, .btnFull {
    width: 100px;
}

.btnOutline {
    outline: 1px solid var(--orange-blur) !important;
}

.btnFull {
    background-color: var(--orange-blur) !important;
}

.navTogler {
    background-color: white;
    border: none;
}

.dropdown {
    position: absolute;
    right: 1px;
    top: 60px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.dropmenu, .dropmenu3{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--custom-grey);
    padding-top: 15px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Custom-font', nunito2;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

.dropmenu3{
    border-bottom: none;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .navbarItem {
        position: relative;
    }
    .navbarSubItem {
        position: absolute;
        right: 0;
    }
    .navTogler {
        display: none;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}