.search {
    border: 0.8px solid var(--custom-grey);
    background-color: white;
    width: 292px;
    height: 50px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Custom-font', nunito;
}

.search:focus{
    outline: none;
}

.btnSearch {
    background-color: white;
    border: 0.8px solid var(--custom-grey);
    padding-right: 15px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (min-width: 768px) {
    .search {
        width: 650px;
    }
}

@media (min-width: 992px) {
    .search {
        width: 1250px;
    }
}